body{
    margin: 0%;
}

header {
    background-image: linear-gradient(135deg, #008e66, #00568c);
    width: 100%;
    display: flex;
}

.logo {
    width: 5%;
}

.logo,
.title, 
.nav {
    text-align: center;
}

.logo,
.title {
    float: left;
}

.title {
    margin: 1%;
    font-size: 28px;
    font-weight: 100%;
}

.title,
.navItem {
    -webkit-text-stroke: black 1px;
    font-family: 'Arial', Courier, monospace;
    color: #ffffff;
}

.navItem {
    font-size: 24px;
    padding: 1%;
    float: right;
}

.nav {
    text-align: center;
    max-width: 50%;
    min-width: 35%;
}